# ============================================================
# Ignore ruleset.
# Files and folders that Git should exclude from Git.
# ============================================================

# Files
*.env
*.tmp
*.log

# OS Junk
*.Trashes
*.DS_Store
Thumbs.db
Desktop.ini

# Code Editors
.idea
.vscode
.project
.settings

# Package Managers
vendor
packages
third-party
node_modules
bower_components

# Github Specific Files
!.gitkeep
