# Folders that will be ignored by Git
/third-party
/composer
/vendor

# Files that will be ignored by Git
.git
.sublime-project
.sublime-workspace

# Windows files that will be ignored by Git
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac OS files that will be ignored by Git
.DS_Store
